<h2>Template</h2>
<h3>Text interpolation</h3>
{{name}} - {{age}}

<p>{{ 1 + 1 }}</p>


<p>{{ condition }}</p>


<hr/>

<h2>Property binding</h2>

<!-- botão desabilitado seguindo o valor de isDisabled -->
<button [disabled]="isDisabled">button</button>

<!-- imagem com caminho do arquivo seguindo o valor de srcValue -->
<img [src]="srcValue" [alt]="name" [title]="name" />


<h2>Attribute binding</h2>
<p [attr.title]="name" [attr.aria-label]="name">Dener Pelizario</p>


<h2>Class and Style binding</h2>

<p [class.background-red]="age >= 32" [class.background-blue]="age === 32">
  {{ name }}
</p>

<!-- atentar para aspas simples dentro de aspas duplas no underline -->
<p [style.text-decoration]="isTextDecoration">{{age}}</p>
